/* Removed Because no Numbers Trivia */

/* @media screen and (max-width: 1000px) {
    
    .history {
        height: 100%;
    }

    .math-trivia {
        position: fixed;
        bottom: 10px;
        right: 10px;
        height: auto;
        width: auto;
        z-index: 1050;
        transition: all 0.5s;
    }

    .trivia-title {
        border-bottom: none;
    }

    .trivia-title p {
        margin: 0;
    }

    .trivia-title div {
        display: none;
    }

    .close-icon {
        visibility: visible;
    }

    .trivia-text {
        height: auto;
        display: none;
    }

    .trivia-text p {
        max-width: initial;
        font-size: 1.2em;
        visibility: visible;
        padding: 15px 10px;
    }
} */

@media screen and (max-width: 700px) {

    header {
        justify-content: space-between;
    }

    .main-content {
        flex-direction: column;
    }

    .calculator {
        max-width: 100%;
        flex-grow: 1;
        margin-bottom: 20px;
    }

    .side-content {
        max-width: 100%;
        flex-grow: 1;
    }

    .history {
        width: 100%;
    }
}